.switch {
  height: 44px;
  width: 80px;
  background-color: #120a2e;
  color: #fff;
  border-radius: 100px;
  position: absolute;
  z-index: 10;
  left: 3px;
  top: 2.5px;
  transition: ease-in;
}

.dark .switch {
  background-color: #edf1fd;
}

.switch.left-to-center {
  animation-name: leftToCenter;
  animation-duration: 0.5s;
}

.switch.left-to-right {
  animation-name: leftToRight;
  animation-duration: 0.5s;
}

.switch.left-position {
  left: 3px;
  top: 2.5px;
}

#light + label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 80px;
  border-radius: 100px;
}

#light:checked + label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 80px;
  border-radius: 100px;
}

@keyframes leftToCenter {
  from {
    left: 3px;
  }
  to {
    left: 85px;
  }
}

@keyframes leftToRight {
  from {
    left: 3px;
  }
  to {
    left: 167px;
  }
}

.switch.center-to-left {
  animation-name: centerToLeft;
  animation-duration: 0.5s;
}

.switch.center-to-right {
  animation-name: centerToRight;
  animation-duration: 0.5s;
}

.switch.center-position {
  left: 85px;
  top: 2.5px;
}

#dark + label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 80px;
  border-radius: 100px;
}

#dark:checked + label {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}

@keyframes centerToLeft {
  from {
    left: 85px;
  }
  to {
    left: 3px;
  }
}

@keyframes centerToRight {
  from {
    left: 85px;
  }
  to {
    left: 167px;
  }
}

.switch.right-to-left {
  animation-name: rightToLeft;
  animation-duration: 0.5s;
}

.switch.right-to-center {
  animation-name: rightToCenter;
  animation-duration: 0.5s;
}

.switch.right-position {
  left: 166px;
  top: 2.5px;
}

#gazzetta + label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 80px;
  border-radius: 100px;
}

#gazzetta:checked + label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 80px;
  border-radius: 100px;
}

@keyframes rightToLeft {
  from {
    left: 166px;
  }
  to {
    left: 3px;
  }
}

@keyframes rightToCenter {
  from {
    left: 167px;
  }
  to {
    left: 85px;
  }
}
